:root {
    color: inherit;
    display: flex;
}

:root a {
    height: 100%;
    color: var(--color-compliment);
}

:root a:visited {
    text-decoration: none;
}

:root .activePage {
    font-weight: bold;
    color: var(--color-text);
}